* {
	padding: 0;
	margin: 0;
	font-style: sans-serif;


}
body {
	background: url('../image/unnamed.gif') no-repeat;
	background-size: cover;
	color: #fFff;
}

.form {
	position: static;
	
}
a:link {
  color: yellow;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: yellow;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}